@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --yellow-primary: #FFD400;
  /* --font-orange:#FFB500; */
}

@theme {
  --color-official: #FFD400;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-yellow: var(--yellow-primary);
  /* Register your imported fonts */
  --font-urbanist: var(--font-urbanist);
  --font-playfair: var(--font-playfair);
  --font-inter: var(--font-inter);
  /* Set the default sans-serif font utility (font-sans) */
  --font-sans: var(--font-urbanist);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-urbanist), sans-serif;
}

/* Custom Responsive Container Utility */
.custom-width {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 8px;
  /* Spacing for screen edges */
  padding-right: 8px;
  max-width: 360px;
  /* Mobile */
}

@media (min-width: 768px) {
  .custom-width {
    max-width: 900px;
    /* Tablet */
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (min-width: 1280px) {
  .custom-width {
    max-width: 1320px;
    /* PC */
    padding-left: 16px;
    padding-right: 16px;
  }
}

/* Hide vertical scrollbar but keep scrolling functional */
.hide-scrollbar {
  overflow: auto;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE and old Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}

/* Rich-text Editor Content Styling */
.blog-content {
  color: #404040; /* text-neutral-700 */
}

.blog-content h1 {
  font-size: 36px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 15px;
  color: #171717; /* text-neutral-900 */
  scroll-margin-top: 110px;
}

.blog-content h2 {
  font-size: 28px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 15px;
  color: #171717;
  scroll-margin-top: 110px;
}

.blog-content h3 {
  font-size: 22px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 15px;
  color: #171717;
  scroll-margin-top: 110px;
}

.blog-content p {
  font-size: 15px;
  line-height: 1.75;
  margin-bottom: 15px;
  color: #404040;
}

.blog-content ul {
  padding-left: 24px;
  margin-top: 10px;
  margin-bottom: 15px;
  list-style-type: disc;
}

.blog-content ol {
  padding-left: 24px;
  margin-top: 10px;
  margin-bottom: 15px;
  list-style-type: decimal;
}

.blog-content li {
  margin-bottom: 6px;
  font-size: 15px;
  line-height: 1.7;
}

@media screen and (max-width: 768px) {
  .blog-content h1 {
    font-size: 28px;
    line-height: 35px;
  }

  .blog-content h2 {
    font-size: 22px;
    line-height: 30px;
  }

  .blog-content h3 {
    font-size: 18px;
    line-height: 26px;
  }
}